#### BirthdayCloud
# Developers must set the `BIRTHDAY_CLOUD_NPM_TOKEN` on their machine
# This Personal Access Token (PAT) must have the `read:packages` scope
# It must also be SSO configured
# @see https://github.com/settings/tokens/new
# @see https://docs.github.com/en/enterprise-cloud@latest/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on

@birthdaycloud:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${BIRTHDAY_CLOUD_NPM_TOKEN}
//npm.pkg.github.com/:always-auth=true
